@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
}

.btn {
  --color: #00A97F;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: #222;
  transform: translateX(-50%);
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: absolute;
  left: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98) translateX(-50%);
 }

 .go_loc{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 59px;
  display: flex;
  gap: 10px;
  color: white;
  border-radius: 6px;
  background-color: #222;
  padding: .5rem;
  border: .3px solid #00A97F;
  color: #00A97F;
  z-index: 1000;
 }

 .go_loc input{
  background-color: #222;
  border: .3px solid #00A97F;
  outline: none;
  color: white;
  padding: 4px;
 }
 